canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  background-color: black;
}

#canvas-container {
  position: relative;
  top: 400px;
  width: 500px;
  height: 500px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#canvasBtn1,
#canvasBtn2,
#canvasBtn3,
#canvasBtn4 {
  position: relative;
  font-size: large;
  padding: 10px 20px;
  background-color: #ff7f7f;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}
